.cards {
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 977px;
  margin-bottom: 4rem;
}

.card {
  /* width: 300px; */
}

.card figure img {
  width: 100%;
}

.card .text {
  color: var(--white);
  margin-bottom: 2rem;
}

.card .btn {
  background-color: var(--red);
  border: none;
  color: white;
  padding: 5px 10px;
}

@media screen and (max-width: 1020px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      max-width: 700px;
    }

    .card {
      width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .cards {
      grid-template-columns: 1fr;
      max-width: 320px;
    }
}