h1 {
  color: var(--white);
  margin-bottom: 4rem;
  text-align: center;
}

.checkout {
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-bottom: 4rem;
  max-width: 632px;
  row-gap: 0.5rem;
}

.checkout .middle {
  text-align: center;
}

.checkout .middle.head-row,
.checkout .last.head-row {
  justify-self: stretch;
}

.checkout .last {
  text-align: end;
}

.checkout .head-row {
  background-color: var(--red);
}

.checkout .total-row {
  border-top: 1px solid var(--white);
  display: flex;
  font-weight: 700;
  grid-column: 1/4;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.checkout-btn {
  background-color: var(--red);
  border: none;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
}
