footer {
  background-color: var(--dark_gray);
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.footer-container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  max-width: 977px;
}

.footer-container p {
  font-size: 0.8rem;
}

.footer-container .icons-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    gap: 2rem;
    justify-content: center;
  }
}
