.cards.large-cards {
  margin-bottom: 4rem;
}

.card.large-card {
  background-color: var(--white);
  color: var(--black);
  width: 466px;
}

.card.large-card .text {
  color: var(--black);
}

.cards .info-container {
  padding: 1rem;
}

@media screen and (max-width: 750px) {
  .card.large-card {
    width: auto;
  }
}